body{
    padding:0;
    margin:0;
}

#home{
    display: grid;
    grid-template-columns: fit-content(100%);
    grid-template-rows: 100vh;
    grid-template-areas: 
    "nav main";
}

app-navigation{
    grid-area: nav;
    background-color: var(--color-main);

}

app-dashboard{
    grid-area: main;
}