nav{
    height: 100vh;
    display: grid;
    flex-direction: row;
    justify-items: center;
    padding-top: 1rem;
}
nav>ul>li{
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menuIcon{
    color: var(--color-font-darkBG);
    font-size: var(--size-icon);
}

#closeIcon{
    color: var(--color-font-darkBG);
    font-size: var(--size-icon);
}