nav{
    height: 100vh;
    padding-top: 0.5rem;
}

nav>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav>ul>li{
    cursor: pointer;

    display: grid;
    justify-items: center;
    align-items: center;
    margin: 1rem;
}


.nav-icon{
    color: var(--color-font-darkBG);
    font-size: var(--size-icon);
}

.nav-name{
    color: var(--color-font-darkBG);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: var(--size-nav-font);
    margin: 0;
    padding-top: 0.25rem;
}
